<%= form_for @diagnostic, :html => { :class => "form-horizontal diagnostic" } do |f| %>

    <% if @diagnostic.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@diagnostic.errors.count, "error") %> prohibited this diagnostic from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @diagnostic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
    <%= error_span(@diagnostic[:code]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@diagnostic[:description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            diagnostics_path, :class => 'btn btn-default' %>

<% end %>
