<%= form_for @office_day, :html => { :class => "form-horizontal office_day" } do |f| %>

    <% if @office_day.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@office_day.errors.count, "error") %> prohibited this office_day from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @office_day.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :work_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :work_day, :class => 'form-control' %>
    </div>
    <%= error_span(@office_day[:work_day]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            office_days_path, :class => 'btn btn-default' %>

<% end %>
