<%= form_for @time_slot, :html => { :class => "form-horizontal time_slot" } do |f| %>

    <% if @time_slot.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @time_slot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_at, :class => 'form-control' %>
    </div>
    <%= error_span(@time_slot[:start_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, :class => 'form-control' %>
    </div>
    <%= error_span(@time_slot[:end_at]) %>
  </div>

     <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            time_slots_path, :class => 'btn btn-default' %>

<% end %>
