<h1 class ="fancy">Report</h1>

<% @appointments.each do |appointment| %>
    <p><b>Physician:</b> <%= appointment.physician.name %> <br> <b> Appointment status: </b>
      <%= appointment.status.appointment_status %> <br>
      <b> Amount: </b> <%= number_to_currency(appointment.fee) %> </p>

<% end %>

