// Place all the styles related to the Invoice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.welcome {
  color: magenta;
  text-decoration: underline;
  text-align: center;

}
