<%= form_for @appointment, :html => { :class => "form-horizontal appointment" } do |f| %>

    <% if @appointment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :appointment_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :appointment_date,  :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:appointment_date]) %>
  </div>

  <div class="control-group">
    <%= f.label :time_slot_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :start_at, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:time_slot_id]) %>
  </div>

   <div class="control-group">
      <%= f.label :time_slot_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :end_at, :class => 'form-control' %>
      </div>
      <%= error_span(@appointment[:time_slot_id]) %>
    </div>

    <div class="control-group">
      <%= f.label :office_day_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :office_day_id, OfficeDay.all, :id, :work_day, :class => 'form-control' %>
      </div>
      <%= error_span(@appointment[:office_day_id]) %>
    </div>
  <div class="control-group">
    <%= f.label :patient_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :patient_id, Patient.all, :id, :name, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:patient_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reason, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:reason]) %>
  </div>
  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :status_id,Status.all, :id, :appointment_status, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:status_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :physician_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :physician_id,Physician.all, :id, :name, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:physician_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :diagnostic_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :diagnostic_id, Diagnostic.all, :id, :code, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:diagnostic_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:note]) %>
  </div>
  <div class="control-group">
    <%= f.label :fee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fee, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:fee]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            appointments_path, :class => 'btn btn-default' %>

<% end %>
